Quest1/bin/
Quest1/obj/
*.suo
ControlLibrary/obj/
ControlLibrary/bin/
QuestDolls/bin/
QuestDolls/obj/
RequestLoopUnitTest/obj/
RequestLoopUnitTest/bin/
RequestLoop/obj/
RequestLoop/bin/
*.user
_ReSharper.Quest/
Drivers/DiscretInputDriver/bin/
MineLoop/obj/
Drivers/RelayDriver/obj/
Drivers/RelayDriver/bin/
Drivers/DiscretInputDriver/obj/
MineLoop/bin/
